<!DOCTYPE html>
<html ng-app="authSystem">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="container" ng-controller="LoginController">

    <div class="text-center"><h1 >kREL Kancolle Logger</h1></div>

    <!-- LOGIN FORM -->
    <div class="card center card-container" id="login-form" ng-switch="formSelector">
      <uib-alert type="{{alert.type}}" ng-show="alertVisible" class="fade" >
        <span>{{alert.msg}}</span>
      </uib-alert>
      <div  ng-switch-default>
        <form class="form-signin" name="loginForm"  ng-submit="login(credentials)" novalidate>
          <span id="auth-email" class="auth-email"></span>
          <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" ng-model="credentials.username" require autofocus>
          <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="credentials.password" required>
          <div id="remember" class="checkbox">
              <label>
                  <input type="checkbox" value="remember-me"> Remember me
              </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block btn-smooth-cornered" type="submit">Sign in</button>
          <button class="btn btn-lg btn-info btn-block btn-smooth-cornered" id="register-button" type="button" ng-click="switchForms()">Register</button>
        </form>
      </div>
      <div  ng-switch-when="register">
        <form class="form-signin" ng-submit="register(credentials)" method="post">
          <span id="auth-email" class="auth-email"></span>
          <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" ng-model="credentials.username" required autofocus>
          <input name="email" type="text" id="inputEmail" class="form-control" placeholder="Email" ng-model="credentials.email" required>
          <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="credentials.password" required>

          <button class="btn btn-lg btn-primary btn-block btn-smooth-cornered" type="submit" id="register-confirm">Sign up!</button>
        </form>
      </div>
    </div>


  </div>
</body>

<script type="text/javascript" src="/modules/app.js"></script>
<script type="text/javascript" src="/modules/services.js"></script>
<script type="text/javascript" src="/modules/components/authSystem/module.js"></script>
<script type="text/javascript" src="/modules/components/authSystem/controllers.js"></script>

</html>
