

  <div class="container" ng-app="authSystem" ng-controller="LoginController">

    <div class="text-center"><h1 >kREL Kancolle Logger</h1></div>

    <!-- LOGIN FORM -->
    <div class="card center card-container" id="login-form" ng-switch="formSelector">
      <uib-alert type="{{alert.type}}" ng-show="alertVisible" class="fade" >
        <span>{{alert.msg}}</span>
      </uib-alert>
      <div  ng-switch-default>
        <form class="form-signin" name="loginForm"  ng-submit="login(credentials)" novalidate>
          <span id="auth-email" class="auth-email"></span>
          <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" ng-model="credentials.username" require autofocus>
          <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="credentials.password" required>
          <div id="remember" class="checkbox">
              <label>
                  <input type="checkbox" value="remember-me"> Remember me
              </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block btn-smooth-cornered" type="submit">Sign in</button>
          <button class="btn btn-lg btn-info btn-block btn-smooth-cornered" id="register-button" type="button" ng-click="switchForms()">Register</button>
        </form>
      </div>
      <div  ng-switch-when="register">
        <form class="form-signin" ng-submit="register(credentials)" method="post">
          <span id="auth-email" class="auth-email"></span>
          <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" ng-model="credentials.username" required autofocus>
          <input name="email" type="text" id="inputEmail" class="form-control" placeholder="Email" ng-model="credentials.email" required>
          <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="credentials.password" required>

          <button class="btn btn-lg btn-primary btn-block btn-smooth-cornered" type="submit" id="register-confirm">Sign up!</button>
        </form>
      </div>
    </div>


  </div>


</html>
