<div class="container-fluid">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <h1 class="text-center">kREL Kancolle Logger</h1>
      <p class="spacer">
        This web application allows you to log and analyze your sorties in every map of Kancolle. Simply, choose your map, then plug in your sortie details.
        When you finally finish/clear a map, you can analyze these records and determine how good/bad your runs went.

      </p>
      <div class="row spacer"></div>
      <div class="row spacer">
        <div class="text-center col-lg-offset-4 col-lg-4">
          <button class="btn btn-lg btn-info btn-block btn-smooth-cornered">Try it</button>
          <span class="center">Got an account?</span><br/>
          <a href="/login">Sign in</a>
        </div>
      </div>
    </div>
  </div>
</div>
