
  <div class="container-fluid">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <a class="navbar-brand" href="#">Kancolle Resource Expenditure Logger </a>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="col-sm-3 col-md-2 " id="sidebar" role="navigation" ng-controller="SidebarController">
        <ul class="nav nav-pills nav-stacked" ng-repeat="(mapIndex, mapArray) in mapsIndexes">
          <li role="presentation" ng-repeat="area in mapArray">
            <a class="map-link" ng-click="selectMap(mapIndex,area)" href="">
              <span class="glyphicon glyphicon-triangle-right" aria-hidden="true">
              {{mapIndex}}-{{area}}
            </a>
        </ul>
      </div>
      <div id="main" class="col-sm-9 col-md-10">
        <div ng-controller="MapOverviewController" dw-loading="loading-map-details" dw-loading-options="{{loadOptions}}">
          <h1>{{map}}</h1>

          <uib-accordion close-others="oneAtATime">
            <uib-accordion-group ng-repeat="sortieGroup in sortieGroups"  heading="{{sortieGroup._id.year}} - {{sortieGroup._id.month}}" />
              <map-record sortie-group="sortieGroup._id"/>
          </uib-accordion>
          <a ng-click="newSortie()"> New Sortie </a>

        </div>
      </div>
    </div>

  </div>
